
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff3cd;
    margin: 0;
    padding: 20px;
}


header h1 {
    color: #8B4513; 
    font-size: 32px;
    margin-bottom: 10px;
}

h2 {
    color: #6d4c41;
    font-size: 24px;
    margin-bottom: 15px;
}


figure {
    display: inline-block;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 350px;
}


img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 10px;
}

figcaption {
    font-size: 18px;
    color: #444;
    font-weight: bold;
}
